In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# load titanic data from the seaborn database
titanic_data = sns.load_dataset('titanic')
titanic_data.head()

   survived  pclass     sex   age  sibsp  parch  ...    who adult_male deck  embark_town  alive  alone
0         0       3    male  22.0      1      0  ...    man       True  NaN  Southampton     no  False
1         1       1  female  38.0      1      0  ...  woman      False    C    Cherbourg    yes  False
2         1       3  female  26.0      0      0  ...  woman      False  NaN  Southampton    yes   True
3         1       1  female  35.0      1      0  ...  woman      False    C  Southampton    yes  False
4         0       3    male  35.0      0      0  ...    man       True  NaN  Southampton     no   True

[5 rows x 15 columns]

In [4]:
titanic_data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [7]:
# check for null values
titanic_data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
# fill null values with the median value in age column
titanic_data['age'].fillna(titanic_data['age'].median(), inplace=True)
# drop
titanic_data.dropna(subset=['embarked'], inplace=True)
# convert 'sex' to numeric from string (male:0, female:1)
titanic_data['sex'].replace({'male':0, 'female':1}, inplace=True)
titanic_data.head()

<ipython-input-11-ff14c773c5ed>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['age'].fillna(titanic_data['age'].median(), inplace=True)
<ipython-input-11-ff14c773c5ed>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_data['sex'].replace({'male':0, 'female':1}, inplace=True)
<ipython-input-11-ff14c773c5ed>:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  titanic_data['sex'].replace({'male':0, 'female':1}, inplace=True)

   survived  pclass  sex   age  sibsp  parch  ...    who adult_male deck  embark_town  alive  alone
0         0       3    0  22.0      1      0  ...    man       True  NaN  Southampton     no  False
1         1       1    1  38.0      1      0  ...  woman      False    C    Cherbourg    yes  False
2         1       3    1  26.0      0      0  ...  woman      False  NaN  Southampton    yes   True
3         1       1    1  35.0      1      0  ...  woman      False    C  Southampton    yes  False
4         0       3    0  35.0      0      0  ...    man       True  NaN  Southampton     no   True

[5 rows x 15 columns]

In [17]:
x = titanic_data[['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare']]
y = titanic_data['survived']
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, random_state=2)
model = LogisticRegression()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

0.7865168539325843

In [16]:
x = titanic_data[['pclass', 'age', 'sibsp', 'parch', 'fare']]
y = titanic_data['survived']
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, random_state=2)
model = LogisticRegression()
model.fit(X_train, Y_train)
y_pred = model.predict(X_test)
accuracy_score(Y_test, y_pred)

0.6629213483146067